<h1>Hello Universe! From {{title}}, {{data}}</h1>
<!-- <app-user-list></app-user-list>
<app-register></app-register>
<app-sign-up></app-sign-up>

<h1>---See console---</h1>
<button (click)="getValue('data')" (mouseover)="getValue('Data')" (mouseleave)="getValue('leave')">Click</button>
<br/>
<br/>
<textarea name="text" #text cols="30" rows="10"></textarea>
<br/>
<button (click)="getValue(text.value)">Get data</button>
<p>{{data1}}</p>

<h1>Counter:-</h1>
<button (click)="counter('add')">++</button>
<p>count : {{count1}}</p>
<button (click)="counter('sub')">--</button> -->

<!-- ------------------------------------------------- -->

<!-- <h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock><h2>This is an If Block</h2></ng-template>

<ng-template #elseBlock>
    <h2>This is an else Block</h2>
</ng-template> -->


<!-- ======================================================== -->

<h1>Using ngIf</h1>
<button #red (click)="getColor('red')" style="margin: 10px;">Red</button>
<button #green (click)="getColor('green')" style="margin: 10px;">Green</button>
<button #blue (click)="getColor('blue')" style="margin: 10px;">Blue</button>
<button #black (click)="getColor('black')" style="margin: 10px;">Black</button>
<ng-template [ngIf]="color == 'red'">
    <h2 style="background: red; height: 200px; width: 200px; border-radius: 5px;"></h2>
</ng-template>
<ng-template [ngIf]="color == 'green'">
    <h2 style="background: green; height: 200px; width: 200px; border-radius: 5px;"></h2>
</ng-template>
<ng-template [ngIf]="color == 'blue'">
    <h2 style="background: blue; height: 200px; width: 200px; border-radius: 5px;"></h2>
</ng-template>
<ng-template [ngIf]="color == 'black'">
    <h2 style="background: black; height: 200px; width: 200px; border-radius: 5px;"></h2>
</ng-template>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<h1>Using ngSwitch</h1>
<div [ngSwitch]="color" >
    <h2 *ngSwitchCase="'red'" style="color: red;">Red Color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h2>
    <h2 *ngSwitchCase="'black'" style="color: black;">Black Color</h2>
</div>
